<meta charset="UTF-8">
<title>MeetMutt</title>

<!-- CSS -->
<!-- <link rel="stylesheet" href="public/assets/css/reset.css"> -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/style.css">
<style>

</style>
