.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #e0ffff;
  font-weight: bold;
  font-family: 'Baloo Tammudu', cursive;
}


#header {
  background-color: #f0ffff;
  font-weight: bold;
  font-family: 'Baloo Tammudu', cursive;
}

.jumbotron{
  font-family: 'Baloo Tammudu', cursive;
}
.red {
  /* border: 4px red;
    border-radius: 25%; */
  background-color: blue;
  animation-name: filled;
  animation-fill-mode: forwards;
}
@keyframes filled {
  from {
    background-color: white;
  }
  to {
    background-color: red;
  }
}
.selected {
  animation-duration: 1s;
  animation-iteration-count: 1;
}
