<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<style>
	img{
		height:200px;
		width: 200px;
		margin: 1px;
	}
</style>

<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">

				<div style="background-color:AntiqueWhite; opacity: 0.8; text-align:center;" class="jumbotron">
					<h1>Adopt Us!!!</h1>
					<p>We can't wait to meet you!!</p>
				</div>

				<img src="https://media.giphy.com/media/6VoDJzfRjJNbG/giphy.gif">

				<img src="https://media.giphy.com/media/Maz1hoeGskARW/giphy.gif">

				<img src="https://media.giphy.com/media/xT77XZrTKOxycjaYvK/giphy.gif">

				<img src="https://media.giphy.com/media/l41m0CPz6UCnaUmxG/giphy.gif">

				<img src="https://media.giphy.com/media/mb4D2qoFWDohW/giphy.gif">

				<img src="https://media.giphy.com/media/BLeTkfK6TbjTa/giphy.gif">

				<img src="https://media.giphy.com/media/aVPS1Ek7RhTtS/giphy.gif">

				<img src="https://media.giphy.com/media/AgYbJ0jc7wA7e/giphy.gif">

				<img src="https://media.giphy.com/media/12MY94aT1qTFjW/giphy.gif">

				<img src="https://media.giphy.com/media/3o6ZtdZI1MbbyXz8lO/giphy.gif">

				<img src="https://media.giphy.com/media/5xUPTCgyhLoSQ/giphy.gif">

				<img src="https://media.giphy.com/media/ITbujm1hWsKyI/giphy.gif">

			</div>
			<div class="col-sm-4">


			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>
