<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script
	  src="https://code.jquery.com/jquery-3.3.1.js"
	  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	  crossorigin="anonymous"></script>
	<script src="/assets/javascript/questionnaire.js"></script>
	<script src="/assets/style.css"></script>

</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="row">
			<div class="col-sm-8">

				<div style="background-color:lightblue; opacity:0.8; text-align:center;" class="jumbotron">
					<h1>Questionnaire</h1>
					<p>Fill Out Honestly Please :)</p>
				</div>

			</div>

			<div class="col-sm-4"></div>
		</div>
	</main>

<div id="questionsList">This is the Questions List</div>

<button type="button" class="btn btn-primary black-background white" id="sub-but">Submit</button>

<div id="results"></div>

	<!-- <footer> -->
		<% include ../partials/footer %>
	</footer>

	<script
	src="https://code.jquery.com/jquery-3.3.1.js"
	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	crossorigin="anonymous">
	</script>

	<script type="text/javascript">
//make tables for questions
	// var questions = [
	//   {
	//     q: "1. Have you ever owned a pet?",
	//     answers: {
	//       a: "Yes",
	//       b: "No"
	//     }
	//   },
	//   {
	//     q: "2. Do you ever skip a meal?",
	//     answers: {
	//       a: "Yes",
	//       b: "No"
	//     }
	//   },
	//   {
	//     q: "3. Does it bother you to have lint on your clothes?",
	//     answers: {
	//       a: "Yes",
	//       b: "No"
	//     }
	//   },
	//   {
	//     q:
	//       "4. On a scale from 1 to 5 (5 being very affectionate) how affectionate are you?",
	//     answers: {
	//       a: "1",
	//       b: "2",
	//       c: "3",
	//       d: "4",
	//       e: "5"
	//     }
	//   },
	//   {
	//     q: "5. Pick your most ideal weekend activity:",
	//     answers: {
	//       a: "Hiking",
	//       b: "Staying home and watching Netflix",
	//       c: "Brunch & mimosas",
	//       d: "Bar hopping"
	//     }
	//   },
	//   {
	//     q: "6. Which one best describes your disposable income each month?",
	//     answers: {
	//       a: "$0-100",
	//       b: "$100-200",
	//       c: "$200-300",
	//       d: "I live in San Francisco"
	//     }
	//   },
	//   {
	//     q:
	//       "7. If you woke up and your pet urinated all over your bed sheets what would you do?",
	//     answers: {
	//       a: "Just clean it and not do anything else ",
	//       b: "Hit your pet",
	//       c: "Verbally tell your pet that it’s not okay and attempt to train it "
	//     }
	//   },
	//   {
	//     q: "8. How many hours a day will the pet be alone at the house?",
	//     answers: {
	//       a: "0-3 hours",
	//       b: "3-6 hours",
	//       c: "6-8 hours",
	//       d: "8+ hours"
	//     }
	//   },
	//   {
	//     q: "9. Does your property have a yard?",
	//     answers: {
	//       a: "Yes",
	//       b: "No"
	//     }
	//   },
	//   {
	//     q: "10. How often do you lose your belongings?",
	//     answers: {
	//       a: "Often",
	//       b: "Sometimes",
	//       c: "Not very often",
	//       d: "Almost never"
	//     }
	//   }
	// ];
	//
	// var div, question_text, paragraph;
	// for (var index in questions){
	//     question_text = questions[index].q;
	//     // div = $('<div>');
	//     paragraph = $('<p>').text(question_text);
	// 		console.log(paragraph);
	//     // paragraph.innerText= question_text;
	//     // div.append(paragraph);
	//     $('#questionslist').append(paragraph);
	// //loops through the object within the object (answers), then adds the answers to the buttons, then appends it to the ID
	//     // for (letter in questions[index].answers){
	//     //     choices = questions[index].answers[letter];
	//     //     var createChoices = $('<input type="radio" name="'+ questions[index].name +'" id="'+ choices +'"><label></label>');
	//     //     createChoices.text(choices);
	//     //     $('#questionslist').append(createChoices);
	//     // }
	// }

</script>

</body>

</body>
</html>
