<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="#">Logo</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/aboutMeetMutt">About Us</a></li>
      <!-- Meet Mutt mission and Problem we aim to solve  -->
			<li><a href="/questionnaire">Questionnaire</a></li>
			<li><a href="/animalsApi">Browse</a></li>

		</ul>

	</div>
</nav>
